<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <img id="cam"></body>
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="<%- HOST %>/socket.io/socket.io.js"></script>
        <script src="<%- HOST %>/cam.js"></script>
    </body>
</html>